<!DOCTYPE html>
<html>
    <head>
        <title>Gestor de Productos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="../css/product.css"/>
    </head>
    <body>
        <header> 
            <h1><a href="http://127.0.0.1:8080/">Bienvenido a la tienda</a></h1>
        </header>
        <aside>
            <ul>
                <li><a href="http://127.0.0.1:8080/products">Listado de productos</a></li>
                <li><a href="http://127.0.0.1:8080/products/forms">Nuevo producto</a></li>
            </ul>
        </aside>
        <section>
            <form action="/products" method="post">
                Nombre: <input type="text" name="name"/>
                <br/>
                Descripción: <textarea name="description"></textarea>
                <br/>
                Precio: <input type="number" name="price"/>
                <br/>
                <input type="submit" value="Enviar"/>
            </form>
        </section>
        <footer></footer>
    </body>
</html>
