<!DOCTYPE html>
<html>
    <head>
        <title>Gestor de Productos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="../css/product.css"/>
    </head>
    <body>
        <header> 
            <a href="http://127.0.0.1:8080/"><h1 th:text="#{welcome}"></h1></a>
        </header>
        <aside>
            <ul>
                <li><a href="http://127.0.0.1:8080/products"><span th:text="#{productList}"></span></a></li>
                <li><a href="http://127.0.0.1:8080/products/forms"><span th:text="#{newProduct}"></span></a></li>
            </ul>
        </aside>
        <section>
            <form id="createProduct" action="/products" method="post">
                <label for="name"><span th:text="#{productName}"></span>:</label>
                <input type="text" name="name"/>
                <br/>
                <label for="description"><span th:text="#{productDescription}"></span>:</label>
                <textarea name="description"></textarea>
                <br/>
                <label for="price"><span th:text="#{productPrice}"></span>:</label>
                <input type="number" name="price"/>
                <br/>
            </form>
            <button type="submit" form="createProduct" value="Submit"><span th:text="#{send}"></span></button>
        </section>
        <footer></footer>
    </body>
</html>
