<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gestor de Productos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="css/product.css"/>
    </head>
    <body>
        <header> 
            <a href="http://127.0.0.1:8080/"><h1 th:text="#{welcome}"></h1></a>
        </header>
        <aside>
            <ul>
                <li><a href="http://127.0.0.1:8080/products"><span th:text="#{productList}"></span></a></li>
                <li><a href="http://127.0.0.1:8080/products/forms"><span th:text="#{newProduct}"></span></a></li>
            </ul>
        </aside>
        <section>
            <table>                
                <tr th:each="product: ${products}">
                    <td>
                        <a th:href="'http://127.0.0.1:8080/products/' + ${product.id}"><span th:text="${product.name}"></span></a>
                    </td>
                    <td>
                        <form th:action="'/products/' + ${product.id}" th:method="delete">
                            <input type="submit" value="Borrar"/>
                        </form>
                    </td>
                </tr>                
            </table>
        </section>
        <footer></footer>
    </body>
</html>
